<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.urbancode.com/PluginXMLSchema_v1">
    <header>
        <identifier version="1" id="com.serena.air.plugin.MicroFocus-SRL"
                    name="Micro Focus StormRunner Load"/>
        <description>
            The Micro Focus StormRunner Load plugin enables you to execute load tests as part of your deployment process.
        </description>
        <tag>Quality/Micro Focus/StormRunner Load</tag>
    </header>
    <!-- ==================================== -->
    <!--   PLUGIN STEPS                       -->
    <!-- ==================================== -->
    <step-type name="Run Test">
        <description>Run a load test.</description>
        <properties>
            <property name="projectId" required="true">
                <property-ui type="textBox" default-value="${p:application/srl.projectId}" label="Project Id"
                             description="The id of the project that contains the tests."/>
            </property>
            <property name="testId" required="true">
                <property-ui type="textBox" label="Test Id" description="The id of the test to run."/>
            </property>
            <property name="srlServerUrl" required="true">
                <property-ui type="textBox" default-value="${p:system/srl.serverUrl}" label="StormRunner Server URL"
                             description="The StormRunner Load server URL, e.g. https://stormrunner-load.saas.hpe.com"/>
            </property>
            <property name="srlUser" required="true">
                <property-ui type="textBox" default-value="${p:system/srl.user}" label="StormRunner User"
                             description="The user id to be used to connect to the StormRunner Load server."/>
            </property>
            <property name="srlPassword" required="true">
                <property-ui type="secureBox" default-value="${p:system/srl.password}" label="StormRunner Password"
                             description="The password to be used to connect to the StormRunner Load server."/>
            </property>
            <property name="tenantId" required="true">
                <property-ui type="textBox" default-value="${p:system/srl.tenantId}" label="StormRunner Tenant Id"
                             description="The tenant id on the Storm Runner Load server."/>
            </property>
            <property name="debugMode" required="false">
                <property-ui type="checkBox" label="Debug Output" hidden="true"
                             description="Select this option to display debug output during execution."/>
            </property>
        </properties>
        <post-processing>
            <![CDATA[
                properties.put("Status", "Success");
                if (properties.get("exitCode") != 0) {
                    properties.put("Status", "Failure");
                }
                else {
                    scanner.register("(?i)Test result: Failed",  function(lineNumber, line) {
                        commandOut.println("Received Error");
                        commandOut.println(lineNumber.toString() + " : " + line);
                        var errors = properties.get("Error");
                        if (errors == null) {
                            errors = new java.util.ArrayList();
                        }
                        errors.add(line);
                        properties.put("Error", errors);

                        properties.put("Status", "Failure");
                    });
                    scanner.scan();

                    var errors = properties.get("Error");
                    if (errors == null) {
                        errors = new java.util.ArrayList();
                    }
                    properties.put("Error", errors.toString());
                }
            ]]>
        </post-processing>
        <command program="${GROOVY_HOME}/bin/groovy">
            <arg value="-cp"/>
            <arg path="classes:lib/*"/>
            <arg file="run_test.groovy"/>
            <arg file="${PLUGIN_INPUT_PROPS}"/>
            <arg file="${PLUGIN_OUTPUT_PROPS}"/>
        </command>
    </step-type>
    <step-type name="Check Status">
        <description>Check the status of load test run.</description>
        <properties>
            <property name="projectId" required="true">
                <property-ui type="textBox" default-value="${p:application/srl.projectId}" label="Project Id"
                             description="The id of the project that contains the tests."/>
            </property>
            <property name="runId" required="true">
                <property-ui type="textBox" label="Test Run Id" default-value="${p:prevStep/testRunId}"
                             description="The id of the test run to check the status of."/>
            </property>
            <property name="pollStatus" required="false">
                <property-ui type="checkBox" label="Poll Status"
                             description="Poll the status until the test run has succeeded or failed."/>
            </property>
            <property name="pollInterval" required="true">
                <property-ui type="textBox" default-value="60" label="Poll Interval"
                             description="Interval in seconds between polls, default is 60s."/>
            </property>
            <property name="srlServerUrl" required="true">
                <property-ui type="textBox" default-value="${p:system/srl.serverUrl}" label="StormRunner Server URL"
                             description="The StormRunner Load server URL, e.g. https://stormrunner-load.saas.hpe.com"/>
            </property>
            <property name="srlUser" required="true">
                <property-ui type="textBox" default-value="${p:system/srl.user}" label="StormRunner User"
                             description="The user id to be used to connect to the StormRunner Load server."/>
            </property>
            <property name="srlPassword" required="true">
                <property-ui type="secureBox" default-value="${p:system/srl.password}" label="StormRunner Password"
                             description="The password to be used to connect to the StormRunner Load server."/>
            </property>
            <property name="tenantId" required="true">
                <property-ui type="textBox" default-value="${p:system/srl.tenantId}" label="StormRunner Tenant Id"
                             description="The tenant id on the Storm Runner Load server."/>
            </property>
            <property name="debugMode" required="false">
                <property-ui type="checkBox" label="Debug Output" hidden="true"
                             description="Select this option to display debug output during execution."/>
            </property>
        </properties>
        <post-processing>
            <![CDATA[
                if (properties.get("exitCode") != 0) {
                    properties.put("Status", "Failure");
                }
                else {
                    properties.put("Status", "Success");
                }
            ]]>
        </post-processing>
        <command program="${GROOVY_HOME}/bin/groovy">
            <arg value="-cp"/>
            <arg path="classes:lib/*"/>
            <arg file="check_status.groovy"/>
            <arg file="${PLUGIN_INPUT_PROPS}"/>
            <arg file="${PLUGIN_OUTPUT_PROPS}"/>
        </command>
    </step-type>
    <step-type name="Publish Results to HTML">
        <description>Publish the results of a test run to a file in HTML format.</description>
        <properties>
            <property name="projectId" required="true">
                <property-ui type="textBox" default-value="${p:application/srl.projectId}" label="Project Id"
                             description="The id of the project that contains the tests."/>
            </property>
            <property name="runId" required="true" >
                <property-ui type="textBox" label="Test Run Id" default-value="${p:prevStep/testRunId}"
                             description="The id of the test run to check the status of."/>
            </property>
            <property name="outputFile" required="true">
                <property-ui type="textBox" default-value="results.html" label="Output File"
                             description="The name of the output file to create, default is 'results.html'."/>
            </property>
            <property name="srlServerUrl" required="true">
                <property-ui type="textBox" default-value="${p:system/srl.serverUrl}" label="StormRunner Server URL"
                             description="The StormRunner Load server URL, e.g. https://stormrunner-load.saas.hpe.com"/>
            </property>
            <property name="srlUser" required="true">
                <property-ui type="textBox" default-value="${p:system/srl.user}" label="StormRunner User"
                             description="The user id to be used to connect to the StormRunner Load server."/>
            </property>
            <property name="srlPassword" required="true">
                <property-ui type="secureBox" default-value="${p:system/srl.password}" label="StormRunner Password"
                             description="The password to be used to connect to the StormRunner Load server."/>
            </property>
            <property name="tenantId" required="true">
                <property-ui type="textBox" default-value="${p:system/srl.tenantId}" label="StormRunner Tenant Id"
                             description="The tenant id on the Storm Runner Load server."/>
            </property>
            <property name="debugMode" required="false">
                <property-ui type="checkBox" label="Debug Output" hidden="true"
                             description="Select this option to display debug output during execution."/>
            </property>
        </properties>
        <post-processing>
            <![CDATA[
                if (properties.get("exitCode") != 0) {
                    properties.put("Status", "Failure");
                }
                else {
                    properties.put("Status", "Success");
                }
            ]]>
        </post-processing>
        <command program="${GROOVY_HOME}/bin/groovy">
            <arg value="-cp"/>
            <arg path="classes:lib/*"/>
            <arg file="publish_results.groovy"/>
            <arg file="${PLUGIN_INPUT_PROPS}"/>
            <arg file="${PLUGIN_OUTPUT_PROPS}"/>
        </command>
    </step-type>
</plugin>
